.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.color:hover {
  cursor: pointer;
}

.green {
  background-color: green;
}

/* Trecho baseado no artigo do CSSTricks
link"https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */

.line {
  font-size: 0px;
}

/* Box-Sizing => Trecho baseado no artigo de box-sizing
link:https://css-tricks.com/box-sizing/ */

.pixel {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.pixel:hover {
  cursor: pointer;
}

.red {
  background-color: red;
}
